{% extends "base.html" %}
{% block title %}
Task - Multicomp Annotation System
{% endblock %}
{% block content %}
<div class="container-fluid">
 

</div>
<p class="text-center">
  Watch the video, and ask three questions about psychological state.
  Then, answer those questions.
  Click the "Review Training Video" button to get more instructions if you feel you do not understand the task sufficiently.
</p>
<p>
  <button class="btn btn-info" onclick="stopTime()" data-toggle="modal" data-target="#myModal">
    Review Training Video
  </button>
</p>
<h3>Video</h3>
<center>
  <video id="vid" width="75%" controls>
    <source src="{{ video_url }}" />
    {% if captions %}
    <track kind="captions" src="{{ captions }}" default />
    {% endif %}
  Your browser does not support the video tag.
  </video>
</center>
{% if errors %}
  <div class="alert alert-danger">
    This form was submitted with errors.<br />
    {% for error in errors %}
    {{ error.fieldname }}: {% if error.code == 'required' %}This field is required.{% else %}{{ error.code }}{% endif %}<br />
    {% endfor %}
  </div>
{% endif %}
<form action="{% if qa_train %}{% url 'main:qa_train' %}{% else %}{% url 'main:qa_task' %}{% endif %}" method="post">
  {% csrf_token %}
  <div class="form-group">
    <div class="radio">
      <input type="radio" name="interaction" value="yes" hidden="true" checked="checked">
    </div>
  </div>
  <div class="form-group">
    <div class="radio">
     <input type="radio" name="monologue" value="no" hidden="true" checked="checked">
    </div>
  </div>
  <div class="form-group">
    <div class="radio">
      <input type="radio" name="english" value="yes" hidden="true" checked="checked">
    </div>
  </div>
  <div class="form-group">
    <label for="num_actors">
      How many actors (i.e. main characters) are there in this video?
      <a data-toggle="tooltip" data-placement="top"
        title="Don't count large groups like crowds.">
        <i class="fa fa-info-circle" aria-hidden="true"></i></a>
    </label>
    <input class="form-control" type="number" name="num_actors" id="num_actors" value="{{ request.POST.num_actors }}">
  </div>
  {% if captions %}
  <div class="form-group">
    <label for="caption_check">
      Are the captions correct in this video?
    </label>
    <div class="radio">
      <label><input type="radio" name="caption_check" value="yes" id="caption_check" {% if request.POST.caption_check == 'yes' %}checked="checked"{% endif %}>Yes</label>
    </div>
    <div class="radio">
      <label><input type="radio" name="caption_check" value="no" id="caption_check" {% if request.POST.caption_check == 'no' %}checked="checked"{% endif %}>No</label>
    </div>
  </div>
  {% endif %}
  <div class="row">
    <div class="col-sm-4">
      <label for="q1">
        Question 1 <i> (Please do not use a '{{ blacklist.0 }}' question) </i>
      </label>
      <textarea class="form-control" name="q1" id="q1" rows=2>{% if errors %}{{ request.POST.q1 }}{% endif %}</textarea>
      <br>
      <label> How difficult do you think this question is for an AI to answer? </label>
      <div class="slidecontainer">
      <input type="range" min="1" max="5" value="0" class="slider" id="sliderq1" name="q1_difficulty" oninput="change('difficultyq1',this.value)">
      </div>
      <p>Value: <span id="difficultyq1" class="diff"> No Value </span></p>
      <label for="a1">
        Correct Answer 1
      </label>
      <textarea class="form-control" name="a1" id="a1" rows=2>{% if errors %}{{ request.POST.a1 }}{% endif %}</textarea>
      <div>
        <div class="slidecontainer">
      <input type="range" min="1" max="5" value="0" class="slider" id="slidera1" name="a1_difficulty" oninput="change('difficultya1',this.value)">
      </div>
      <p>Value: <span id="difficultya1" class="diff"> No Value </span></p>
      </div>
      <label for="i1">
        Incorrect Answer 1
      </label>
      <textarea class="form-control" name="i1" id="i1" rows=2>{% if errors %}{{ request.POST.i1 }}{% endif %}</textarea>
      <div>
      <div class="slidecontainer">
      <input type="range" min="1" max="5" value="-1" class="slider" id="slideri1" name="i1_difficulty" oninput="change('difficultyi1',this.value)">
      </div>
      <p>Value: <span id="difficultyi1" class="diff"> No Value </span></p>
      </div>
    </div>
    <div class="col-sm-4">
      <label for="q2">
        Question 2 <i> (Please do not use a '{{ blacklist.1 }}' question) </i>
      </label>
  
      <textarea class="form-control" name="q2" id="q2" rows=2>{% if errors %}{{ request.POST.q2 }}{% endif %}</textarea>
      <br>
      <label> How difficult do you think this question is for an AI to answer? </label>
      <div class="slidecontainer">
      <input type="range" min="1" max="5" value="-2" class="slider" id="sliderq2" name="q2_difficulty" oninput="change('difficultyq2',this.value)">
      </div>
      <p>Value: <span id="difficultyq2" class="diff"> No Value </span></p>
      <label for="a2">
        Correct Answer 2
      </label>
      <textarea class="form-control" name="a2" id="a2" rows=2>{% if errors %}{{ request.POST.a2 }}{% endif %}</textarea>
      <div>
      <div class="slidecontainer">
      <input type="range" min="1" max="5" value="0" class="slider" id="slidera2" name="a2_difficulty" oninput="change('difficultya2',this.value)">
      </div>
      <p>Value: <span id="difficultya2" class="diff"> No Value </span></p>
      </div>
      <label for="i2">
        Incorrect Answer 2
      </label>
      <textarea class="form-control" name="i2" id="i2" rows=2>{% if errors %}{{ request.POST.i2 }}{% endif %}</textarea>
      <div>
      <div class="slidecontainer">
      <input type="range" min="1" max="5" value="0" class="slider" id="slideri2" name="i2_difficulty" oninput="change('difficultyi2',this.value)">
      </div>
      <p>Value: <span id="difficultyi2" class="diff"> No Value</span></p>
      </div>
    </div>
    <div class="col-sm-4">
      <label for="q3">
        Question 3 <i> (Please do not use a '{{ blacklist.2 }}' question) </i>
      </label>
      <textarea class="form-control" name="q3" id="q3" rows=2>{% if errors %}{{ request.POST.q3 }}{% endif %}</textarea>
      <br>
      <label> How difficult do you think this question is for an AI to answer? </label>
      <div class="slidecontainer">
      <input type="range" min="1" max="5" value="0" class="slider" id="sliderq3" name="q3_difficulty" oninput="change('difficultyq3',this.value)">
      </div>
      <p>Value: <span id="difficultyq3" class="diff"> No Value </span></p>
      <label for="a3">
        Correct Answer 3
      </label>
      <textarea class="form-control" name="a3" id="a3" rows=2>{% if errors %}{{ request.POST.a3 }}{% endif %}</textarea>
      <div>
      <div class="slidecontainer">
      <input type="range" min="1" max="5" value="0" class="slider" id="slidera3" name="a3_difficulty" oninput="change('difficultya3',this.value)">
      </div>
      <p>Value: <span id="difficultya3" class="diff"> No Value </span></p>
      </div>
      <label for="i3">
        Incorrect Answer 3
      </label>
      <textarea class="form-control" name="i3" id="i3" rows=2>{% if errors %}{{ request.POST.i3 }}{% endif %}</textarea>
      <div>
      <div class="slidecontainer">
      <input type="range" min="1" max="5" value="0" class="slider" id="slideri3" name="i3_difficulty" oninput="change('difficultyi3',this.value)">
      </div>
      <p>Value: <span id="difficultyi3" class="diff"> No Value </span></p>
      </div>
    </div>
  </div>
  <hr />
  <input id="seconds" type="hidden" name="seconds" value="{% if errors %}{{ request.POST.seconds }}{% endif %}" />
  <input id="captions" type="hidden" name="captions" value="{{ captions }}" />
  <input id="red_threshold" type="hidden" name="red_threshold" value="{{ red_threshold }}" />
  <input id="yellow_threshold" type="hidden" name="yellow_threshold" value="{{ yellow_threshold }}" />
  <input id="num_annots" type="hidden" name="num_annots" value="{{ num_annots }}" />
  <input id="input_log" type="hidden" name="input_log" value="{% if errors %}{{ request.POST.input_log }}{% endif %}" />
  <input id="old_i_log" type="hidden" name="old_i_log" value="{{ request.POST.old_i_log }}" />
  <input id="video_log" type="hidden" name="video_log" value="{% if errors %}{{ request.POST.video_log }}{% endif %}" />
  <input id="old_v_log" type="hidden" name="old_v_log" value="{{ request.POST.old_v_log }}" />
  <input id="batch_hash" type="hidden" name="batch_hash" value="{{ batch_hash }}" />
  <input id="batch_content_index" type="hidden" name="batch_content_index" value="{{ batch_content_index }}" />
  <input id="video_url" type="hidden" name="video_url" value="{{ video_url }}" />
  <center>
    <input class="btn btn-info" name='submit' id="nextTask" disabled="true" type="submit" value="Submit and Next Task" />
    <input class="btn btn-info" name='submit' id="endSession" disabled="true" type="submit" value="Submit and End Session" />
  </center>
</form>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" onclick="startTime()">&times;</button>
        <h4 class="modal-title">Training Video</h4>
      </div>
      <div class="modal-body">
        <video width="100%" controls>
          <source src="{{ training_video_url }}">
        Your browser does not support the video tag.
        </video>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="startTime()">Close</button>
      </div>
    </div>

  </div>
</div>

<!-- Modal -->
<div id="inactiveModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" onclick="resetInactive();">&times;</button>
        <h4 class="modal-title">Inactive</h4>
      </div>
      <div class="modal-body">
        <p>We have detected inactivity.</p>
        <p>
          Close this window to continue, or you will be redirected to the tasks page.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="resetInactive()">Close</button>
      </div>
    </div>

  </div>
</div>

<script>

function change(name,val) {
  var output = document.getElementById(name);
  output.innerHTML = val; 
  if (output.innerHTML == 1) {
     output.innerHTML = "1 (Easiest)"
  }
  if (output.innerHTML == 5) {
    output.innerHTML = "5 (Hardest)"
  }
}
</script>

<script> 
 $(document).ready(function(){
    //spans = $(".span");
    spans = Array.from(document.getElementsByClassName("diff"));
    //$("#sliderq1").mouseup(checkSlider())
    $(".slidecontainer").mouseup(function() {
      //checkSliders();
      if (spans.every(isValid)) {
        document.getElementById("nextTask").disabled = false;
        document.getElementById("endSession").disabled = false;

      }
    })
});


function isValid(diff) {
  return diff.innerHTML != " No Value ";
}


</script>

<script>
var timeout = 60;
var inactive_secs = 0;
var inactive_handler;
var authoritative_secs = {% if errors %}{{ request.POST.seconds }}{% else %}0{% endif %};
var secs_accum = {{ secs_offset }} % 3600;
var last_vid_time = 0;
var timer = setInterval("addSecond()", 1000);
var input_log = {};
var video_log = {};
/*
for (var i = 0; i < Math.floor(({% if request.POST.seconds %}{{ request.POST.seconds }}{% else %}0{% endif %} + {{ secs_offset }}) / 3600 + {{ hours_done }}); i++) {
  var stars = document.getElementById("stars");
  var star = '<i class="fa fa-star" aria-hidden="true"></i>';
  stars.innerHTML += star;
}
*/
function showNoAnswer() {
  var noAnswer = document.getElementById('noanswer');
  noAnswer.setAttribute('style', 'display: block');
}
function hideNoAnswer() {
  var int = $('input[name="interaction"]:checked').val();
  var mon = $('input[name="monologue"]:checked').val();
  var eng = $('input[name="english"]:checked').val();
  if (int == 'yes' && mon == 'no' && eng == 'yes') {
    var noAnswer = document.getElementById('noanswer');
    noAnswer.setAttribute('style', 'display: none');
  }
}
function raiseInactive() {
  stopTime();
  inactive_handler = setTimeout(function () {window.location.replace('{% url 'main:tasks' %}')}, 30000);
  $('#inactiveModal').modal('show');
}
setInterval(function() { log_video(); }, 500);
$(':input').on('keypress', function(e) {
  inactive_secs = 0;
  var d = new Date();
  input_log[d.getTime()] = {'key': e.which, 'elem': document.activeElement.name};
  document.getElementById('input_log').setAttribute('value', JSON.stringify(input_log));
});
function resetInactive() {
  startTime();
  inactive_secs = 0;
  clearInterval(inactive_handler);
}
function log_video() {
  vid = document.getElementById('vid');
  if (vid.currentTime != last_vid_time) {
    inactive_secs = 0;
  }
  if (vid.currentTime != 0) {
    var d = new Date();
    video_log[d.getTime()] = {'vid': vid.currentTime};
    document.getElementById('video_log').setAttribute('value', JSON.stringify(video_log));
  }
  last_vid_time = vid.currentTime;
}
function addSecond() {
  //var pbar = document.getElementById("progress");
  secs_accum += 1;
  authoritative_secs += 1;
  inactive_secs += 1
  if (inactive_secs == timeout) {
    raiseInactive();
  }
  if (secs_accum >= 3600) {
    secs_accum -= 3600;
    /*
    var stars = document.getElementById("stars");
    var star = '<i class="fa fa-star" aria-hidden="true"></i>';
    stars.innerHTML += star;
    */
  }
  //pbar.setAttribute("style", "width: " + (secs_accum / 3600 * 100) + "%");
  //pbar.innerHTML = (Math.floor(secs_accum / 60)) + " minutes";
  document.getElementById("seconds").setAttribute("value", authoritative_secs);
}
$('#myModal').on('hidden.bs.modal', function(e) {
  startTime();
})

function startTime() {
  if (timer == -1) {
    timer = setInterval("addSecond()", 1000);
  }
}
function stopTime() {
  clearInterval(timer);
  timer = -1;
}
</script>
{% endblock %}
