{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
{% load static %}

      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3"> Meal Dataset</h1>
          <p> This is a new and exciting dataset that collects information about the food people eat on a daily basis.</p>
          <hr />
              <a class="btn btn-lg btn-primary" href="{% url 'login' %}"> Login </a>
<a class="btn btn-lg btn-primary" href="{% url 'signup' %}"> Sign Up </a>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h2> Collect data </h2>
            <p>CMU-Crowd was built with the intention of simplifying the process of building complex datasets that require skilled and trained workers. </p>
          </div>
          <div class="col-md-4">
            <h2>Fully Customizable </h2>
            <p>  As CMU-Crowd is a Django webapp, you can easily edit the classes in models.py to add more fields to the worker and admin models if required. It is also easy to add new pages. For getting started with Django, their official documentation is recommended. </p>
          </div>
          <div class="col-md-4">
            <h2> Social IQ</h2>
            <p>For an example of a dataset collected through a similar annotation system (that CMU-Crowd was based on), check out the Social IQ dataset. </p>
          </div>
        </div>

{% endblock %}

