{% extends 'base.html' %}
{% load custom_tags %}

{% block content %}
<h1 class="text-center"> View Batches </h1>
<hr />
<div class="container">
{% for k,v in batches.items %}
	<div class="row">
		<div class="col">
			<table class="table">
				<thead>
				 <h2> {{k}} </h2>
					<tr>
						<th> ID </th>
						<th> Number of HITs </th>
						<th> Created Date </th>
						<th> % Completed </th>
						<th> Download </th>
						<th> Status </th>
						<th> Cancel/Restart </th>
					</tr>
				</thead>
				<tbody>
					{%for batch in v %}
						<tr>
            				<th scope="row"> {{batch.id}} </th>
             				<td> {{batch.num_HITs}}</td>
            				<td> {{batch.created_date}} </td>
            				<td> {{batch.percent_completion}} </td>
            				<td> DL </td>
            				<td> <span class="badge badge-pill badge-{{batch.status_class}}"> _____ </span> </td>
            				<td>
        					{% if not batch.completed %}
        						<form action="{%url 'admins:view_batches' %}" method="post">
         							{% csrf_token %}
         							<input type="hidden" name="action" value="cancel" />
         							<input type="hidden" name="batch_id" value="{{batch.id}}" />
          							<input class="btn-xs btn-danger" type="submit" value="X" />
        						</form>
        					{% endif %}
      						</td>
         				<tr>
					{% endfor %}
		 		</tbody>
		</table>
{% endfor %}
		</div>
	</div>


<script>
 function setStatusText() {
 	// Sets status text based on batch.status_class 
 	badges = document.getElementsByClassName('badge-pill');
 	for (let badge of badges) {
 		classes = badge.className.split(' ');
 		if (classes.includes('badge-primary')) {
 			badge.innerText = 'Active';
 		} else if (classes.includes('badge-danger')) {
 			badge.innerText = 'Cancelled';
 		} else if (classes.includes('badge-success')) {
 			badge.innerText = 'Completed';
 		}
 	}
 }

setStatusText()
</script>

{% endblock %}