{% extends 'base.html' %}

{% block content %}
<h1 class="text-center"> View Batches </h1>
<hr />
<div class="container">
{% for k,v in batches.items %}
	<div class="row">
		<div class="col">
 <h2> {{k}} </h2>
 {%for batch in v %}
   {{batch}}, {{batch.num_HITs}} HITs <a href="#"> Download data as JSON</a>
 {% endfor %}
{% endfor %}
		</div>
	</div>
{% endblock %}

<!--
<h1 class="text-center"> View Annotations </h1>
<hr />
<div class="container">
  <div class="row">
	 <div class="col">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Job</th>
          <th scope="col">Date Submitted</th>
          <th scope="col">Hourly Pay</th>
        </tr>
      </thead>
      <tbody>
          <tr>
             <th scope="row"> {{a.id}} </th>
             <td> {{a.batch.job.title}} </td>
             <td> {{a.created_date}} </td>
             <td> {{a.batch.job.hourly_pay}} </td>
          <tr>
      </tbody>
    </table>
    </div>
  </div>
</div>
-->