{% extends 'base.html' %}

{% block content %}
<h1 class="text-center"> Available Jobs </h1>
<hr />
<div class="container">
  <div class="row">
    <div class="col">
      <ul class="list-unstyled">
        {% for j in jobs %}
          <li class="media">
            <img src="https://pbs.twimg.com/profile_images/469017630796296193/R-bEN4UP.png" class="mr-3" alt="..." width="140px">
            <div class="media-body">
              <h5 class="mt-0 mb-1"> {{j.title}} </h5>
                {{j.description}}
            </div>
          </li>
        {% endfor %}
      </ul>

    </div>
  </div>
</div>

{% endblock %}